@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Heading */

.header{
    background-color: rgb(18, 155, 155);
}

.mainHeading{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 4.3em;
    margin-right: auto;
    padding-left: 20px;
}

.mainHeading:hover{
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin-top: 35px;
    padding: 0;
    font-size: 20px;
}


header{
    display: flex;
    justify-content: flex-end;
}

.navlinks li{
    display: inline-block;
}

li a {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 12px 18px;
}

li a:hover {
    transition: all 0.2s ease 0s;
    background-color: rgb(13, 135, 156);
    border-radius: 20%;
}

.active{
    color: black;
}

/* Main Content */

.mainImage{
    height: 100%;
    width: 100%;
}


/* Footer */


.footer{
    background-color: rgb(18, 155, 155);
}

.footerbar{
    margin-left: 5px;
}

.footerlinks li{
    display: inline;
}

.footerHeading{
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 3.3em;
    margin-right: auto;
    padding-left: 20px;
}


.fa{
    padding: 20px;
    font-size:30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
    background: rgb(255, 72, 0);
}

.fa-youtube {
    background:red;
}

.footerlinks li a:hover {
    transition: all 0.2s ease 0s;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
}

.phone{
    font-size:30px;
    color:white;
    background: green;
    width: 50px;
    text-align: center;
    padding:10px 30px;
    border-radius:20%;
    cursor: pointer;
}

.phone:hover{
    transition: all 0.2s ease 0s;
    background-color: rgb(0, 0, 0);
    border-radius: 20%;
}
